body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::-webkit-scrollbar {
    display: none;
}


/* Header*/

nav {
    background-color: #242524;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.current a {
    color: #00ff40 !important;
    /* Change color as desired */
}

.logo {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {
    height: 65px;
    width: 70px;
}

.logo h3 {
    margin-left: 10px;
    margin-top: 25px;
    color: #1af991cb;
}

.logo h3:hover {
    color: #ffffff;
}

.menu {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 12px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 18px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
}

.menu ul li a:hover {
    color: #1af991cb;
}

.donate-btn {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
}

.donate-btn:hover {
    background-color: #466332ad;
}

.Login {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
    margin-right: 5px;
}

.Login:hover {
    background-color: #466332ad;
}


/*main*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    background: #1f2c3a !important;
    font-family: "Nunito", sans-serif;
    position: relative;
    overflow-x: hidden;
}

img {
    border-radius: 50%;
    width: clamp(100px, 40vw, 120px);
    height: clamp(100px, 40vw, 120px);
    object-fit: cover;
    object-position: top;
}

.circle-top {
    width: clamp(25rem, 30vw, 31.25rem);
    position: absolute;
    top: 3em;
    left: -8em;
    height: clamp(25rem, 30vw, 31.25rem);
    background: #00458f;
    background: radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    background: -moz-radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    background: -webkit-radial-radial-gradient(circle, #00458f8f 0%, #00458e00 60%, #ffffff00 100%);
    border-radius: 50%;
}

.circle-bottom {
    width: clamp(25rem, 30vw, 31.25rem);
    position: absolute;
    bottom: -5em;
    right: -8em;
    height: clamp(25rem, 30vw, 31.25rem);
    background: #00458f;
    background: radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    background: -moz-radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    background: -webkit-radial-radial-gradient(circle, #00458f8f 0%, #00458e00 65%, #ffffff00 100%);
    border-radius: 50%;
}

header {
    background: linear-gradient(to top, #1f2c3a 0%, #2f3c4742 100%), url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%/cover;
    width: 100%;
    min-height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

header .header-content {
    width: min(37.5em, 90%);
    margin-bottom: 200px;
    position: relative;
    z-index: 10;
}

header .header-content span {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}

header .header-content h1 {
    font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2rem);
    font-weight: 700;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75em;
    margin-inline: auto;
    gap: 0.938rem;
    transform: translatey(-3em);
    position: relative;
    z-index: 10;
    margin-top: -120px;
}

section .card {
    padding: 1.875em 1.25em;
    max-width: 18.75rem;
    width: 90%;
    height: 16.875rem;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    position: relative;
}

section .card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
    border: 0.125rem solid transparent;
    background: linear-gradient(45deg, #1e272e, #48627a) border-box;
    /* -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); */
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

section .card h2 {
    color: #fff;
    letter-spacing: 0.05rem;
    font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
    margin-top: 0.625em;
    margin-bottom: 0.188em;
}

section .card p {
    color: #afafaf;
    font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}

section .card-top {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    gap: 0.938rem;
    flex-wrap: wrap;
}

section .card-top .card img {
    width: clamp(120px, 40vw, 150px);
    height: clamp(120px, 40vw, 150px);
}


/* footer */

footer {
    border-radius: 12px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.line {
    border-top: 1px solid #00ff40;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: 100%;
    text-align: center;
}

#ft {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.left img {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.right {
    color: #ffffff;
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.right i {
    color: #ffffff;
}

.menu {
    margin-top: 20px;
    text-align: left;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 44px;
}

.menu ul li {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 33px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #1af991;
}

footer p {
    color: rgb(255, 255, 255);
    float: right;
    margin: 0px 40px 0;
}


/*donate*/


/* Hidden by default */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
}


/* Modal Content */

.modal-content {
    border-radius: 19px;
    max-width: fit-content;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    font-family: Arial, sans-serif;
    /* Apply font family */
}


/* Close button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


/* Form styling */

form p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

select,
input[type="number"] {
    width: 100%;
    /* Make inputs take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

select {
    height: 30px;
}

input[type="button"],
input[type="submit"] {
    width: auto;
    /* Allow buttons to take the width of their content */
    padding: 10px 20px;
    /* Add padding to buttons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #3E8E41;
}

input[type="button"]:hover {
    background-color: #F44336;
}

#donationType {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}

#customDonationAmount {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}

#donationFrequency {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}


/* Responsive styles */

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
        /* Adjust width for smaller screens */
    }
}