body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}


/* Header*/

nav {
    background-color: #242524;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.current a {
    color: #00ff40 !important;
    /* Change color as desired */
}

.logo {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {
    height: 65px;
    width: 70px;
}

.logo h3 {
    margin-left: 10px;
    margin-top: 25px;
    color: #1af991cb;
}

.logo h3:hover {
    color: #ffffff;
}

.menu {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 12px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 18px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
}

.menu ul li a:hover {
    color: #1af991cb;
}

.donate-btn {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
}

.donate-btn:hover {
    background-color: #466332ad;
}

.Login {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
    margin-right: 5px;
}

.Login:hover {
    background-color: #466332ad;
}

.con {
    display: flex;
    float: left;
    /* Position "con" div on the left */
    padding: 20px;
    width: calc(40% - 40px);
    margin-left: 12%;
    margin-bottom: 12%;
    margin-top: 220px;
    /* 50% of the viewport width minus padding */
}

.container {
    max-width: 600px;
    margin-top: -890px;
    margin-left: 50%;
    /* Set top and bottom margin to 50px, and auto for left and right margin */
    margin-bottom: 12%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
}

h1,
h2 {
    text-align: center;
    margin: 10px 0;
}

.ti {
    display: flex;
    margin-top: 100px;
    margin-left: 19%;
    color: #ffffff;
    width: 20%;
}

.idea {
    display: flex;
    color: #51ff00;
    width: 30%;
    margin-top: 100px;
    margin-left: 10%;
    font-size: 100px;
}

.sol {
    color: #ffffff;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 30%;
    font-size: 70px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* footer */

footer {
    border-radius: 12px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.line {
    border-top: 1px solid #00ff40;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: 100%;
    text-align: center;
}

#ft {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.left img {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.right {
    color: #ffffff;
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.right i {
    color: #ffffff;
}

.menu {
    margin-top: 20px;
    text-align: left;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 44px;
}

.menu ul li {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 33px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #1af991;
}

footer p {
    color: rgb(255, 255, 255);
    float: right;
    margin: 0px 40px 0;
}