body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::-webkit-scrollbar {
    display: none;
}


/* Header*/

nav {
    background-color: #242524;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.current a {
    color: #00ff40 !important;
    /* Change color as desired */
}

.logo {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {
    height: 65px;
    width: 70px;
}

.logo h3 {
    margin-left: 10px;
    margin-top: 25px;
    color: #1af991cb;
}

.logo h3:hover {
    color: #ffffff;
}

.menu {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 12px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 18px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
}

.menu ul li a:hover {
    color: #1af991cb;
}

.donate-btn {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
}

.donate-btn:hover {
    background-color: #466332ad;
}

.Login {
    background-color: #1af991cb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 105px;
    font-weight: bold;
    margin-right: 5px;
}

.Login:hover {
    background-color: #466332ad;
}


/* Map */

.map {
    display: flex;
    justify-content: center;
}

.map img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#title {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    top: 12px;
}


/* Country*/

.country {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country img {
    max-width: 100%;
    /* Ensure images don't exceed their container width */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 12px;
    margin-bottom: 12px;
}


/*more button*/

.more {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.more button {
    background-color: #1af991cb;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 125px;
    margin-top: 12px;
    font-weight: bold;
}

.more button:hover {
    background-color: #466332ad;
}

#detail {
    color: #fff;
    text-align: center;
}


/*box */

.wrapper {
    position: relative;
    width: 80vw;
    bottom: 10;
    left: 10%;
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-top: 20px;
}

.container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #1af991;
}

.wrapper .container h2 {
    color: #1af991;
    font-weight: bold;
    text-align: center;
}

i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}

span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

.ghi-info {
    color: #ffffff;
    width: 80%;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center horizontally */
    text-align: center;
    /* Align text to the left */
}

.ghi-info ul {
    list-style: none;
}


/* footer */

footer {
    border-radius: 12px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.line {
    border-top: 1px solid #00ff40;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: 100%;
    text-align: center;
}

#ft {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.left img {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.right {
    color: #ffffff;
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.right i {
    color: #ffffff;
}

.menu {
    margin-top: 20px;
    text-align: left;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 44px;
}

.menu ul li {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 33px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #1af991;
}

footer p {
    color: rgb(255, 255, 255);
    float: right;
    margin: 0px 40px 0;
}


/*donate*/


/* Hidden by default */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
}


/* Modal Content */

.modal-content {
    border-radius: 19px;
    max-width: fit-content;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    font-family: Arial, sans-serif;
    /* Apply font family */
}


/* Close button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


/* Form styling */

form p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

select,
input[type="number"] {
    width: 100%;
    /* Make inputs take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

select {
    height: 30px;
}

input[type="button"],
input[type="submit"] {
    width: auto;
    /* Allow buttons to take the width of their content */
    padding: 10px 20px;
    /* Add padding to buttons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #3E8E41;
}

input[type="button"]:hover {
    background-color: #F44336;
}

#donationType {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}

#customDonationAmount {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}

#donationFrequency {
    width: 100%;
    /* Make customDonationAmount take up full width */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    max-width: 286px;
    /* Set a maximum width */
}


/* Responsive styles */

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
        /* Adjust width for smaller screens */
    }
}